[core]
	editor = vim

[user]
	name = NAGAMINE Hideaki
	email = {{ email }}

[push]
	default = upstream

[init]
	templatedir = ~/.git_tmp

[pager]
  grep = false

[commit]
	verbose = true

[diff]
	algorithm = histogram

[include]
	path = ~/.gitconfig.local
